@model CRUDcomMYSQL.Models.Logar
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Area Privada</title>
</head>
<body>
	
	<p>Bem Vindo, @ViewBag.MSG.Contato_celular</p>
	

</body>
</html>
